
h1 {
    font-family: 'Patua One', cursive;
    color: #02b3e4;
}
h4 {
    font-family: 'Medula One', cursive;
    color: #02b3e4;
}
h2,h3 {
    font-family: 'Fugaz One', cursive;
    color: #7d97ad;
}
img {
    border-radius: 30px;
}
a:link {
    text-decoration: none;
}
.borda:hover {
    border: 2px solid #02b3e4;
}
